<template>
    <div id='mynav'>
 <div class="row">
        <div class="col">
          <button type='button' class="btn btn-outline-light" @click="$router.push({name: 'mainpage'})">MainPage</button>
         <button type='button' class="btn btn-outline-light" @click="$router.push({name: 'about'})">About</button>
         <button type='button' class="btn btn-outline-light" @click="$router.push({name: 'login'})">Login</button>
        </div>
      </div>
    </div>

</template>
<script>
export default {
  name: 'mynav',
  components: {   
    

  }
}


</script>


<style>

</style>
