<template>
  <div id="app">
    <div class="container">
      <div class="row">
        <div class="col my-5">
           <mynav/>
       
        </div>
      </div>
      <div class="row">
        <div class="col">
         <router-view></router-view>
        </div>
      </div>
    </div>
   
  </div>
</template>

<script>


import mynav from './components/Menu.vue'
export default {
  name: 'app',
  components: {   
    mynav
    

  }
}
</script>

<style lang="scss">

body {
  background-color: #80a7a8;;
}
</style>
