<template>
  <div id="mainpage">
    <div class="container">
      <div class="row">
        <div class="col">
       <h1>Page not Found</h1>
              
        </div>
      </div>
      
   
  
      </div>
     
     </div>
   
 
</template>

<script>



export default {
  name: 'mainpage',
  components: {   
    
    

  }
}
</script>

<style lang="scss">

</style>