<template>
  <div id="login">
    <div class="container">
      <div class="row">
        <div class="col">
       <h1>Login</h1>

        </div>
      </div>
      
 <div class="container">
 <form class="row" @submit.prevent="submitHandler">
    <div class="col">
      
      <div class=" my-3">
        <label class="form-label" for="email">Email</label>
        <input class="form-control form-control-lg"
            id="email"
            type="text"
            v-model.trim="email"
            :class="{invalid: ($v.email.$dirty && !$v.email.required) || ($v.email.$dirty && !$v.email.email)}"
        >
        
        <small 
          class="helper-text invalid"
          v-if="$v.email.$dirty && !$v.email.required"
        >Поле Email не должно быть пустым</small>
        <small 
          class="helper-text invalid"
          v-else-if="$v.email.$dirty && !$v.email.email"
        >Введите корретный Email</small>
      </div>
      <div class="my-3">
        <label for="password">Пароль</label>
        <input class="form-control form-control-lg"
            id="password"
            type="password"
            v-model.trim="password"
            :class="{invalid: ($v.password.$dirty && !$v.password.required) || ($v.password.$dirty && !$v.password.minLength)}"
        >
        
        <small 
          class="helper-text invalid"
          v-if="$v.password.$dirty && !$v.password.required"
        >
          Введите пароль
        </small>
        <small 
          class="helper-text invalid"
          v-else-if="$v.password.$dirty && !$v.password.minLength"
        >
          Пароль должен быть {{$v.password.$params.minLength.min}} символов. Сейчас он {{password.length}}
        </small>
      </div>
    </div>
    <div class="input-group">
      <div>
        <button
            class="btn btn-primary my-3"
            type="submit"
        >
          Войти
          <i class="material-icons right">send</i>
        </button>
      </div>

      
    </div>
  </form>
 </div>
</div>
    
   
  </div>
</template>

<script>
import {email, required, minLength} from 'vuelidate/lib/validators'

export default {
  name: 'login',
  data: () => ({
    email: '',
    password: ''
  }),
  validations: {
    email: {email, required},
    password: {required, minLength: minLength(6)}
  },
  methods: {
    submitHandler() {
      if (this.$v.$invalid) {
        this.$v.$touch()
        return
      }
      const formData = {
        email: this.email,
        password: this.password
      }

      alert('Благодарим! ваши данные успешно получены, посмотрите в консоли')
      console.log(formData)
      this.$router.push('/')
    }
  }
}
</script>
