<template>
  <div id="mainpage">
    <div class="container">
      <div class="row">
        <div class="col">
       <h1>mainpage</h1>
        

       
        </div>
      </div>
      <div class="row">
        <div class="col"><div class="description text-center">
   <h3><font color="#ca925fd">▍
    Hello ,Welcome To My officail Website
    <p>
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    
   </font></h3>
  </div></div>
      </div>
     
     </div>
   
  </div>
</template>

<script>



export default {
  name: 'mainpage',
  components: {   
    
    

  }
}
</script>

<style lang="scss">

</style>